* {
  box-sizing: border-box;
  margin: 0;
  /* font-size: 1.5rem; */
  font-family: 'PT Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

body {
  background: var(--body_background);
  color: var(--body_color);
  /* font-size: clamp(.75rem, 1.5svw, 2rem); */
}

:root {

  --body_background: #EAF2DA;
  --body_color: #1A2602;

  --background-color: #EAF2DA;
  --content-color: #71A608;
  --action-color: #A3D936;

  --alert-color: red;
  --validation-color: rgb(3, 224, 3);
  --information-color: blue;

  --primary-color: #BEF255;
  --secondary-color: #71A608;
  --secondary-color-transparent: #fff;
  --third-color: #A3D936;
  --primary-text-color: #1A2602;
  --secondary-text-color: #E2F2C2;
  --table-color: #fff;
  --card-color: #71A608;
  --navbar-height: 10svh;
  --footer-height: 3svh;
  --margins-top-bottom: 3.5svh;
  --margins-left-right: 0.5svw;
  --font-size-h1: clamp(.5rem, 1.1svw, 1.5rem);
  --font-size-h2: clamp(.4rem, 1svw, 1.4rem);
  --font-size-h3: clamp(.3rem, 0.9svw, 1.3rem);
  --font-family: font-family: 'PT Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

[data-theme="dark"] {
  --body_background: #1A2602;
  --body_color: #E2F2C2;
}

[data-theme="light"] {
  --body_background: #EAF2DA;
  --body_color: #1A2602;
}

.app-container {
  display: grid;
  height: 100svh;
  width: 100svw;
  grid-template-rows: 10svh 77svh 10svh 3svh;
  grid-template-columns: 1fr;

}
 
.app-header {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.app-content {
  grid-row: 2;
}

.app-sidebar {
  grid-row-start: 2;
  grid-row-end: 3;
}

.app-notification {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.app-footer {
  grid-row: 4;
}

  .show-navBar2000 {
    display: flex;
  }
  .hide-navBar2000 {
    display: none;
  }

  .show-navBar1500 {
    display: flex;
  }
  .hide-navBar1500 {
    display: none;
  }

  .show-navBar1100 {
    display: flex;
  }
  .hide-navBar1100 {
    display: none;
  }