

/* datePage-container */
.datePage-container {
    display: flex;
    flex-direction: row;
    width: 96%;  
    height: 100%;
    gap: 5%;
    margin-inline: auto;
    margin-left: 2%;
    /* margin-top: var(--margins-top-bottom); */
    margin-top: 2svh;
}

/* Style for the input container */
.inputField-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 30%;
    height: 100%;
    gap: 2%;
    padding: 1.5% 0%;
    border-radius: 10px;
}

.inputField-overflow {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 90%;
    height: 100%;
    gap: 2%;
    padding: 1.5% 0%;
    margin-inline: auto;
    overflow-y: auto;
}

.inputField-item-number{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
    min-height: 10%;
    gap: 2%;
    margin-inline: auto;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    background: var(--secondary-color-transparent);
}
.inputField-item-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
    min-height: 10%;
    gap: 2%;
    margin-inline: auto;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    background: var(--secondary-color-transparent);
}
/* Style for input labels */
.dateLabel {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1dvw;
    font-family: var(--font-family);
    margin-left: 5%;
}
.Max-Participants {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1dvw;
    font-family: var(--font-family);
    margin-left: 5%;
}
/* Style for input fields */
.inputField-date {
    text-align: center;
    font-size: 1dvw;
    font-family: var(--font-family);
    border-radius: 10px;
    background: var(--secondary-text-color);
}
.inputField-maxNumber {
    width: 22%;
    text-align: center;
    font-size: 1dvw;
    font-family: var(--font-family);
    border-radius: 10px;
    background: var(--secondary-text-color);
}
/* Style for buttons */
.Add-button {
    background: var(--third-color);
    color: var(--primary-text-color);
    width: 100%;
    height: 10%;
    min-height: 10%;
    margin-inline: auto;
    text-align: center;  /* Center text horizontally */
    font-size: 1dvw;
    font-family: var(--font-family);
    border-radius: 10px;
}
.Remove-button {
    background: var(--third-color);
    color: var(--primary-text-color);
    width: 25%;
    height: 50%;
    margin-inline: auto;
    text-align: center;  /* Center text horizontally */
    font-size: 1dvw;
    font-family: var(--font-family);
    border-radius: 7px;
}

/* Style for the table container */
.table-container {
    container-type: inline-size;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: calc(100% - 30% - 5%);
    height: 100%;
    padding: 1.5% 0%;
    /* border: 1px solid hsl(0, 0%, 80%); */
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1); */
    background: var(--card-color);
    /* overflow-y: auto; */
}

.table-item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
    width: 90%;
    height: 100%;
    min-height: 100%;
    margin-inline: auto;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    background: var(--secondary-color-transparent);
    overflow-x: auto;
    overflow-y: auto;
}

/* Style for the table */
table {
    border-collapse: collapse;
    width: 100%;
    min-width: 100%;
    min-height: 15%;
    overflow-x: auto;
    
}

/* Style for table headers */
th {
    width: 300;
    /* width: calc(100% / 3);
    min-width: calc(100% / 3);
    max-width: calc(100% / 3); */
    text-align: center;
    font-size: clamp(.75rem, 1.5svw, 2rem);
    color: var(--primary-text-color);
    border: 1px solid var(--body_color);
    background-color: var(--primary-color);
}

/* Style for table rows */
td {
    padding: 8px;
    text-align: start;
    font-size: clamp(.75rem, 1.5svw, 2rem);
    border: 1px solid var(--body_color);
    background-color: var(--table-color); 
}

/* Alternate background color for odd rows */
/* tr:nth-child(odd) {
    background-color: #f9f9f9;
} */

@media screen and (max-width: 500px) {
    .datePage-container {
        flex-direction: column;
    }

    .inputField-container {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        width: 100%;
        height: 50%;
        gap: 2%;
        padding: 1.5% 0%;
        border-radius: 10px;
    }
    .inputField-overflow {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        width: 100%;
        height: 100%;
        gap: 2%;
        padding: 1.5% 0%;
        margin-inline: auto;
        overflow-y: auto;
    }
    
    .inputField-item-number{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 10%;
        min-height: 10%;
        gap: 2%;
        margin-inline: auto;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
        background: var(--secondary-color-transparent);
    }
    .inputField-item-date{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 10%;
        min-height: 10%;
        gap: 2%;
        margin-inline: auto;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
        background: var(--secondary-color-transparent);
    }
    /* Style for input labels */
    .dateLabel {
        color: var(--primary-text-color);
        text-align: center;
        font-size: clamp(.75rem, 1.5svw, 2rem);
        font-family: var(--font-family);
        margin-left: 5%;
    }
    .Max-Participants {
        color: var(--primary-text-color);
        text-align: center;
        font-size: clamp(.75rem, 1.5svw, 2rem);
        font-family: var(--font-family);
        margin-left: 5%;
    }
    /* Style for input fields */
    .inputField-date {
        text-align: center;
        font-size: clamp(.75rem, 1.5svw, 2rem);
        font-family: var(--font-family);
        border-radius: 10px;
        background: var(--secondary-text-color);
    }
    .inputField-maxNumber {
        width: 22%;
        text-align: center;
        font-size: clamp(.75rem, 1.5svw, 2rem);
        font-family: var(--font-family);
        border-radius: 10px;
        background: var(--secondary-text-color);
    }
    /* Style for buttons */
    .Add-button {
        background: var(--third-color);
        color: var(--primary-text-color);
        width: 100%;
        height: 10%;
        min-height: 10%;
        margin-inline: auto;
        text-align: center;  /* Center text horizontally */
        font-size: clamp(.75rem, 1.5svw, 2rem);
        font-family: var(--font-family);
        border-radius: 10px;
    }
    .Remove-button {
        background: var(--third-color);
        color: var(--primary-text-color);
        width: 25%;
        height: 70%;
        margin-inline: auto;
        text-align: center;  /* Center text horizontally */
        font-size: clamp(.75rem, 1.5svw, 2rem);
        font-family: var(--font-family);
        border-radius: 7px;
    }


    .table-container {
        container-type: inline-size;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        width: 100%;
        height: 50%;
        padding: 1.5% 0%;
        border-radius: 10px;
        background: var(--card-color);
    }

    .table-item {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        min-height: 100%;
        margin-inline: auto;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
        background: var(--secondary-color-transparent);
        overflow-x: auto;
        overflow-y: auto;
    }
    
    /* Style for the table */
    table {
        border-collapse: collapse;
        width: 100%;
        min-width: 100%;
        min-height: 15%;
        overflow-x: auto;        
    }
    
    /* Style for table headers */
    th {
        text-align: center;
        font-size: clamp(0.8rem, 1.5svw, 2rem);
        color: var(--primary-text-color);
        border: 1px solid var(--body_color);
        background-color: var(--primary-color);
    }
    
    /* Style for table rows */
    td {
        padding: 8px;
        text-align: start;
        font-size: clamp(.6rem, 1.5svw, 1.5rem);
        border: 1px solid var(--body_color);
        background-color: var(--table-color); 
    }
}