.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "input output";
    column-gap: 5%;
    width: 96%;
    height: 92%;
    margin-inline: auto;
    margin: 2% auto;
}

.input {
    grid-area: input;
    background: black;
    color: white;
    width: 100%;
    height: 100%;
}
.output {
    grid-area: output;
    background: black;
    color: white;
    width: 100%;
    height: 100%;
}