/* DropdownMenu.css */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-menu.active {
    display: block;
  }
  
  .dropdown-link {
    padding: 1rem;
    text-decoration: none;
    color: #000;
    display: block;
  }
  
  .dropdown-link:hover {
    background-color: #f9f9f9;
  }