.navbar {
    background: linear-gradient(90deg, rgba(28, 27, 27, 0.986) 0%, rgba(26, 23, 23, 0.745) 50%);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    /* font-size: 1.2vw; */
    position: sticky;
    top: 0;
    z-index: 999;
    width: 95%;
    margin-top: 0.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: auto;
    border-radius: 10px;
}
  
  .navbar-primary-container {
    container-type: inline-size;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    max-width: 7680px;
    width: 100%;
    padding: 0 20px;
  }
  
  .navbar-secondary-container {
    display: none;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 1%;
    cursor: pointer;
    text-decoration: none;
    /* font-size: 2rem; */
    font-size: 2vw;
    display: flex;
    align-items: center;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-primary-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: space-evenly;
    margin-right: 1rem;
  }
  
  /* .nav-secondary-menu {
    display: none;
  } */
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }

  .nav-dropdown-menu {
    display: none; 
  }

  .dropdown-menu {
    display: none;
  }

  .dropdown-menu.active {
    display: none;
  }

  .dropdown-menu-icon {
    display: none;
  }

  .nav-link-item-menu-shown {
    display: flex;
  }
  

  @container (max-width: 1500px) {
    .dropdown-menu-icon-active {
      /* display: flex; */
      color: #fff;
      align-items: center;
      display: block;
      margin-top: 10px;
      font-size: 1.8rem;
      cursor: pointer;
    }

    .navbar-primary-container {
      display: none;
    }

    .navbar-secondary-container {
      container-type: inline-size;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 80px;
      max-width: 7680px;
      width: 100%;
      padding: 0 20px;
    }

    /* .nav-primary-menu {
      display: none;
    } */

    .nav-secondary-menu {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 10px;
      list-style: none;
      text-align: center;
      width: 60vw;
      justify-content: space-evenly;
      margin-right: 1rem;
    }

    .nav-dropdown-menu {
      color: #fff;
      display: block;
      align-items: center;
      text-decoration: none;
      padding: 1rem 1rem;
      height: 100%;
    }

    .nav-dropdown-menu-element-size {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0.5rem 1rem;
      height: 100%;
    }

    .nav-link-item-menu-NOTshown {
      display: none;
    }
  
    .dropdown-menu {
      background: linear-gradient(0deg, rgba(28, 27, 27, 0.986) 0%, rgba(26, 23, 23, 0.745) 50%);
      display: none;
      flex-direction: column;
      width: 10%;
      position: absolute;
      top: 80px;
      border-radius: 10px;
      padding: 10px;
      opacity: 1;
      transition: 500ms;
    }
  
    .dropdown-menu.active {
      /* background: linear-gradient(0deg, rgba(28, 27, 27, 0.986) 0%, rgba(26, 23, 23, 0.745) 50%);
      border-radius: 10px;     
      width: 13%;
      opacity: 1;
      transform: translateY(-20px);
      transition: box-shadow 0.3s ease;
      z-index: 1; */
      background: linear-gradient(0deg, rgba(28, 27, 27, 0.986) 0%, rgba(26, 23, 23, 0.745) 50%);
      display: block;
      flex-direction: column;
      width: 10%;
      position: absolute;
      top: 80px;
      border-radius: 10px;
      padding: 10px;
      opacity: 1;
      transition: 500ms;
    }
  
    .dropdown-menu li {
      width: 100%;
    }
  }
  
  @container (max-width: 1100px) {
    .navbar {
      font-size: 1.2rem;
    }

    .navbar-container {
      padding: 0 10px;
    }

    .NavbarItems {
      position:relative;
      
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      width: 100%;
      margin-right: 0;
    }
  
    .nav-menu.active {
      background: linear-gradient(135deg, rgba(29, 28, 28, 0.986) 50%, rgba(0, 0, 0, 0.707) 100%);
      left: 0;
      border-radius: 10px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
      transform: font-size(15%, 50%);
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      margin-left: 10%;
      width: 80%;
      border-radius: 10px;
    }
  
    .navbar-logo {
      position: absolute;
      font-size: 1.6rem;
      top: 0;
      left: 0;
      transform: translate(5%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 0.1rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 10px 20px;
      
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }