
.navBar-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 13% 1fr 5%;
    gap: 1rem;
    align-items: center;
    z-index: 999;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--secondary-color);
}

.navbar-logo img {
    width: 13svw;
    height: 10svh;
    display: block; 
    margin: 0 auto; 
}
.navbar-logo {
    grid-column-start: 1;
    grid-column-end: 1;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    background: transparent;
}
.navbar-logo:hover {
    background: var(--third-color);
    border-radius: 0px 0px 0px 10px;
    transition: all 0.25s ease-in;
}

.navbar-profile-menu img {
    width: 2.5svw;
    height: 5.5svh;
    display: block; 
    margin: 0 auto; 
}
.navbar-profile-menu {
    grid-column-start: 3;
    grid-column-end: 3;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    margin-right: 40px;
}
.navbar-profile-menu:hover {
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    margin-right: 40px;
}

.navbar-eventList2000px {
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    width: 70%;
    height: 100%;
    column-gap: 0%;
    /* margin-left: 20px; */
}
.navbar-eventList1500px {
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    width: 45%;
    height: 100%;
    column-gap: 0%;
    /* margin-left: 20px; */
}

.nav-event-item {
    box-sizing: content-box;
    color: var(--primary-text-color);
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-size: clamp(.75rem, 1.5svw, 2rem);

    /* Add these styles to center the text */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-event-menu-item {
    box-sizing: content-box;
    color: var(--primary-text-color);
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-size: clamp(.75rem, 1.5svw, 2rem);

    /* Add these styles to center the text */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-event-item:hover,
.nav-event-menu-item:hover {
    background: var(--third-color);
    color: var(--secondary-text-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.2s ease-out;
}


.profile_dropdown-menu {
    display: none;
    flex-direction: column;
    width: 10cqi;
    min-height: 40cqh;
    position: fixed;
    top: 10cqh;
    right: 0;
    opacity: 1;
    border-radius: 0px 10px 10px 10px;
    transition: all 0.5s ease;
}
.profile_dropdown-menu.active {
    display: flex;
    background: var(--secondary-color);
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

.flow > :where(:first-child) {
    margin-top: 1cqh;
}
.flow > :where(:first-child):hover {
    margin-top: 1cqh;
}

.nav-profile-dropdown-item {
    display: flex;
    position: relative;
    color: var(--primary-text-color);
    align-items: center;
    text-decoration: none;
    padding: 1cqh 2cqi;
    /* font-size: 1.1dvw; */
    font-size: 1.2cqi;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 4px solid var(--third-color);
}
.nav-profile-dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 
.profile_dropdown-menu-active:hover {
    background: var(--primary-color);
}
.events_dropdown-menu {
    display: none;
    flex-direction: column;
    width: 140px;
    min-height: 30cqh;
    position: absolute;
    top: 10vh;
    right: -3dvw;
    opacity: 1;
    border-radius: 0px 0px 10px 10px;
    transition: all 0.5s ease;
}
.events_dropdown-menu.active {
    display: flex;
    background: var(--secondary-color);
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

/* Navigation Bar Tablet / Mobile Phone*/
.navBar-mobile-container { 
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 15% 1fr 35% 1fr 15%;
    align-items: center;
    z-index: 999;
    width: 100%;
    height: 10svh;
    margin-inline: auto;
    border-radius: 0px 0px 10px 10px;
    background: var(--secondary-color);
}

.navbar-hamburgerMenu img {
    height: 2.5svh;
    display: block; 
    margin: 0 auto; 
}
.navbar-hamburgerMenu {
    grid-column-start: 1;
    grid-column-end: 1;
    cursor: pointer;
}

.navbar-mobile-profile-menu img {
    height: 2.75svh;
    display: block; 
    margin: 0 auto;
}
.navbar-mobile-profile-menu {
    grid-column-start: 5;
    grid-column-end: 5;
    cursor: pointer;
}

.navbar-logo-mobile img {
    height: 7svh;
    display: block; 
    margin: 0 auto;
}
.navbar-logo-mobile {
    grid-column-start: 3;
    grid-column-end: 3;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
}
.navbar-logo-mobile:hover {
    background: var(--third-color);
    transition: all 0.25s ease-in;
}

.nav-mobile-profile-item:hover {
    color: var(--secondary-text-color);
    background-color: #858983;
    transition: all 0.2s ease-out;
}

/* New Small Tablets - Portrait Mode  */
@media only screen and (max-width: 1100px) and (max-height: 1400px) {
    /* .navBar-mobile-container { 
        min-height: 10vh;
    }
    .navbar-logo-mobile img {
        max-width: 50%;
        width: 30dvw;
    }
    .navbar-mobile-profile-menu img {
        max-width: 65%;
        width: 5.5dvw;
    }
    .navbar-hamburgerMenu img {
        max-width: 65%;
        width: 5dvw;
    }
    .navbar-hamburgerMenu {
        left: 5.5%;
    }
    .navbar-mobile-profile-menu {
        right: 0%;
    } */
}

/* New Small Tablets - Square Tablet  */
@media only screen and (max-width: 1100px) and (max-height: 1100px) {
    /* .navBar-mobile-container { 
        min-height: 10vh;
    }
    .navbar-logo-mobile img {
        max-width: 70%;
        width: 30dvw;
    }
    .navbar-mobile-profile-menu img {
        max-width: 65%;
        width: 5.5dvw;
    }
    .navbar-hamburgerMenu img {
        max-width: 65%;
        width: 5dvw;
    }
    .navbar-hamburgerMenu {
        left: 5.5%;
    }
    .navbar-mobile-profile-menu {
        right: 0%;
    } */
}

/* Old Small Tablets - Portrait Mode  */
@media only screen and (max-width: 1100px) and (max-height: 700px) {
    /* .navBar-mobile-container { 
        min-height: 10vh;
    }
    .navbar-logo-mobile img {
        max-width: 50%;
        width: 30dvw;
    }
    .navbar-mobile-profile-menu img {
        max-width: 65%;
        width: 5.5dvw;
    }
    .navbar-hamburgerMenu img {
        max-width: 65%;
        width: 5dvw;
    }
    .navbar-hamburgerMenu {
        left: 5.5%;
    }
    .navbar-mobile-profile-menu {
        right: 0%;
    } */
}

/* Old Small Tablets - Landscape Mode  */
@media only screen and (max-width: 700px) and (max-height: 1100px) {
    /* .navBar-mobile-container { 
        min-height: 10vh;
    }
    .navbar-logo-mobile img {
        max-width: 100%;
        width: 30dvw;
    }
    .navbar-mobile-profile-menu img {
        max-width: 100%;
        width: 5.5dvw;
    }
    .navbar-hamburgerMenu img {
        max-width: 100%;
        width: 5dvw;
    }
    .navbar-hamburgerMenu {
        left: 6%;
    }
    .navbar-mobile-profile-menu {
        right: 1%;
    } */
}

/* New Mobile Phones - Portrait Mode  */
@media only screen and (max-width: 500px) and (max-height: 1000px) {
    /* .navBar-mobile-container { 
        min-height: 10vh;
    }
    .navbar-logo-mobile img {
        max-width: 100%;
        width: 30vw;
    }
    .navbar-mobile-profile-menu img {
        max-width: 100%;
        width: 5.5dvw;
    }
    .navbar-hamburgerMenu img {
        max-width: 100%;
        width: 5dvw;
    }
    .navbar-hamburgerMenu {
        left: 5.5%;
    }
    .navbar-mobile-profile-menu {
        right: 0%;
    } */
}

/* New Mobile Phones - Landscape Mode */
@media only screen and (max-width: 1000px) and (max-height: 500px) {
    /* .navBar-mobile-container { 
        min-height: 10vh;
    }
    .navbar-logo-mobile img {
        max-width: 35%;
        width: 30vw;
    }
    .navbar-mobile-profile-menu img {
        max-width: 40%;
        width: 5.5dvw;
    }
    .navbar-hamburgerMenu img {
        max-width: 40%;
        width: 5dvw;
    }
    .navbar-hamburgerMenu {
        left: 5.5%;
    }
    .navbar-mobile-profile-menu {
        right: 0%;
    } */
}

/* Old Mobile Phones - Portrait Mode  */
@media only screen and (max-width: 500px) and (max-height: 700px) {
    /* .navBar-mobile-container { 
        min-height: 10vh;
    }
    .navbar-logo-mobile img {
        max-width: 100%;
        width: 30vw;
    }
    .navbar-mobile-profile-menu img {
        max-width: 100%;
        width: 5.5dvw;
    }
    .navbar-hamburgerMenu img {
        max-width: 100%;
        width: 5dvw;
    }
    .navbar-hamburgerMenu {
        left: 5.5%;
    }
    .navbar-mobile-profile-menu {
        right: 0%;
    } */
}

/* Old Mobile Phones - Landscape Mode  */
@media only screen and (max-width: 700px) and (max-height: 500px) {
    /* .navBar-mobile-container { 
        min-height: 10vh;
    }
    .navbar-logo-mobile img {
        max-width: 40%;
        width: 30vw;
    }
    .navbar-mobile-profile-menu img {
        max-width: 50%;
        width: 5.5dvw;
    }
    .navbar-hamburgerMenu img {
        max-width: 50%;
        width: 5dvw;
    }
    .navbar-hamburgerMenu {
        left: 5.5%;
    }
    .navbar-mobile-profile-menu {
        right: 0%;
    } */
}